html {
  height: 100%;
  width: 100%;
}
.dropbtn {
        background-color: #1e1e1f;
        color: white;
        padding: 16px;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
        background-color: #08b3c2;
}

.dropdown {
        position: relative;
        display: inline-block;
}

.dropdown-content  {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        border-radius: 8px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
}

.dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}

.dropdown a:hover {
        background-color: rgba(169, 169, 169, 0.5);
}

.show {
        display: block;
}

body {
  background-image: url(img/Kita\ Balas.jpg);
  background-size: 50%;
}

